/* HERO */

.hero.section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-color: var(--bg-hd-ft-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Stydio/Hero/bg-Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}

.hero-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn__text {
    display: inline-block;
    cursor: pointer;
    padding: 10px 32px;
}